<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.risklendpro.mapper.UserMapper">
    <select id="selectByPhoneNumber" resultType="org.example.risklendpro.entity.User">
        SELECT * FROM user WHERE phone_number = #{phoneNumber}
    </select>
</mapper>